---
import Container from "../components/container";
import HeroPost from "../components/hero-post";
import Intro from "../components/intro.astro";
import Layout from "../components/layout";
import MoreStories from "../components/more-stories";
import getHome from "../operations/queries/getHome";
import { useFetch } from "../lib/fetchData";

const endpoint = import.meta.env.PUBLIC_DATO_GQL_ENDPOINT;
const response = await useFetch(endpoint, getHome);
const parsedResponse = await response.json();
const posts = parsedResponse.data.allPosts;
const heroPost = posts.shift();
const morePosts = posts;

// const pokeEndpoint = "https://pokeapi.co/api/v2/pokemon/";
// const kanto = 151;

// const loadPokemon = async (num) => {
//   const pokemonPromises = [];
//   for (let i = 0; i < num; i++) {
//     const pokeRes = fetchPokemon(pokeEndpoint, i + 1);
//     pokemonPromises.push(pokeRes);
//   }
//   const pokemon = await Promise.all(pokemonPromises);
//   return pokemon;
// };
// const kantoGeneration = await loadPokemon(kanto);

// console.log("kantoGeneration", kantoGeneration);
---

<!-- {
  kantoGeneration.map((pokemon) => {
    return (
      pokemon?.name && (
        <h1>
          {" "}
          {pokemon.id}
          {pokemon.name}
        </h1>
      )
    );
  })
} -->
<>
  <Layout preview={false} currentSlug={""}>
    <Container>
      <Intro />

      <HeroPost
        preview={false}
        title={heroPost.title}
        coverImage={heroPost.coverImage}
        date={heroPost.date}
        author={heroPost.author}
        slug={heroPost.slug}
        excerpt={heroPost.excerpt}
      />
      <MoreStories preview={false} posts={morePosts} />
    </Container>
  </Layout>
</>
